{{- $name := .File.TranslationBaseName -}}
{{- $sectionTop := $.Site.GetPage "section" .Section }}
{{- with $sectionTop.Params.inverted }}
  {{- range . }}
    {{- $sectionName := . }}
    {{- $sectionPage := $.Site.GetPage "section" $sectionName }}

    {{- $matchedPages := (where (where $.Site.RegularPages "Params.tags" "intersect" (slice $name)) "Section" $sectionName) }}
    {{- with $matchedPages }}
    <h2 id="partials-inverted" data-title="{{ $sectionPage.Title }}">{{ $sectionPage.Title }}</h2>
    <ul>
      {{- range $matchedPages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  {{- end }}
{{- end }}
