{{ $sectionTop := $.Site.GetPage "section" .Section }}
{{- with $sectionTop.Params.tagref }}
  {{- range . }}
    {{- $tagref := . }}
    {{- $refTop := $.Site.GetPage "section" . }}
    <h2>{{ $refTop.Title }}</h2>
    <ul>
    {{- range $.Params.tags }}
      {{- $manualPage := $.Site.GetPage "page" (print $tagref "/" . ".md") }}
      {{- if $manualPage }}
        <li><a href="{{ $manualPage.RelPermalink }}">{{ $manualPage.Title }}</a></li>
      {{- else }}
        <li>{{ . }}: まだありません。</li>
      {{- end }}
    {{- end }}
    </ul>
  {{- end }}
{{- end -}}
